<%-include('header') %>
<%-include('menu') %>
<h2>Pályázatok</h2>

<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col-6">
            <div class="p-3 border bg-light">Sági Barnabás-HUBX6D<br>32 pont<br>Előbírált hiányos<br><a href="/palyazat/:palyazatid/edit" class="btn btn-sm btn-primary"><i class="fas fa-user-edit"></i></a><a href="/" class="btn btn-sm btn-danger"><i class="fas fa-user-minus"></i></a></div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Kis Béla-HUBX3D<br>15 pont<br>Végleges lezárásra vár<br><a href="/palyazat/:palyazatid/edit" class="btn btn-sm btn-primary"><i class="fas fa-user-edit"></i></a><a href="/" class="btn btn-sm btn-danger"><i class="fas fa-user-minus"></i></a></div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">József Géza-HUBX4D<br>0 pont<br>Véglegesen lezárt, hiánytalan<br><a href="/palyazat/:palyazatid/edit" class="btn btn-sm btn-primary"><i class="fas fa-user-edit"></i></a><a href="/" class="btn btn-sm btn-danger"><i class="fas fa-user-minus"></i></a></div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Nagy Dénes-HUBX5D<br>2 pont<br>Előbírált hiánytalan<br><a href="/palyazat/:palyazatid/edit" class="btn btn-sm btn-primary"><i class="fas fa-user-edit"></i></a><a href="/" class="btn btn-sm btn-danger"><i class="fas fa-user-minus"></i></a></div>
        </div>
    </div>
</div>

<%-include('footer') %>
