<%-include('header') %>
<h2>Bejelentkezés</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
        </div>
        <div class="col-lg-4 col-md-6 col-12">
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Email cím</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label for="psw" class="form-label">Jelszó</label>
                    <input type="password" class="form-control" id="psw">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="jegyezzmeg">
                    <label class="form-check-label" for="jegyezzmeg">Jegyezz meg</label>
                </div>
                <a class="btn btn-primary" href="/">Bejelentkezés</a>
            </form>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
        </div>
    </div>
</div>

<%-include('footer') %>
