<%-include('header') %>
<%-include('menu') %>
<h2>Referens</h2>
<h4>Bírálók:</h4>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        Név
                    </th>
                    <th>
                        Neptun
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>
                <tr>
                    <td>
                        Kiss Béla
                    </td>
                    <td>
                        K1R4LY
                    </td>
                    <td>
                        <a href="/biralo/:biraloid/edit" class="btn btn-sm btn-primary"><i class="fas fa-user-edit"></i></a>
                        <a href="/biralo/:biraloid/delete" class="btn btn-sm btn-danger"><i class="fas fa-user-minus"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<%-include('footer') %>
